.dashboard{
  margin: 60px 30px;
  height: 100%;
}

.task-list{
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: calc((100%/4) - 20px);
  min-height: 200px;
  border: 2px solid #EEEEEE;
  border-radius: 15px;
}



.add-list{
  cursor: pointer;
  transition: transform .2s ease-out;

}

.add-list:hover{
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}



.bi-file-earmark-plus{
  cursor: pointer;
  font-size: 50px;
  color: #3E363F;
}

