.add-button{
  width: 186px;
  height: 186px;
  cursor: pointer;
  color: #3E363F;
  transition: transform .2s ease-out;
}

.add-button:hover{
  transform: scale(1.1);
}
.bi-plus-lg{
  font-size: 100px;
  color: #3E363F;
}
