<h1 class="text-center text-4xl font-bold">Welcome to ToDoApp page!</h1>
<div class="mx-auto py-5">
<p >ToDoApp is website where  you can add tasks for shopping, school, work etc.
  You can group this tasks to list and move between them. These features are
  accessible by logged or registered users.
</p>
<p >
  This web application  is for Visma Hackathon BootCamp. Backend is in .NET and frontend in Angular.
  For Better work between BE and FE we use Swagger documentation. Also this web app is currently on Azure Cloud.
</p>
<a class="text-blue-500"  href="https://github.com/Adam-Skrip/ToDoAppBootCamp">GitHub Link</a>
</div>
