<nav class="mb-4 p-5">
  <ul class="flex justify-between items-center">

    <span class="text-2xl font-bold">ToDoApp</span>

    <div id="links" class="flex">
      <li ><a  routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li *ngIf="this.as.isLoggedIn()"><a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a></li>
    </div>


    <div id="auth" class="flex text-white" *ngIf="this.as.isLoggedIn()===false">
      <li class="rounded-md border-solid border-2 button mr-3 "><a class="px-2" routerLink="/login">Login</a></li>
      <li class="rounded-md border-solid button border-2 "><a class="px-2" routerLink="/register">Register</a></li>
    </div>

    <div *ngIf="this.as.isLoggedIn()" class="flex text-white">
      <li class="rounded-md border-solid border-2 button mr-3 "><a class="px-2" (click)="logout()" >Logout</a></li>
    </div>



  </ul>
</nav>
