nav{
  color: #3E363F;
}

li{
  padding-left: 10px;
  padding-right: 10px;
}

li:hover{

}

.active-link {
  border-bottom: 2px solid #F50057;
}

.rounded-md{
  background-color: #3E363F;
  border-color: #3E363F;
}

.button{
  cursor: pointer;
}
