.bi-plus-circle{
  cursor: pointer;
  font-size: 25px;
  color: #F50057;
  transition: transform .2s ease-out;
}

.bi-plus-circle:hover{
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.task-title{
  padding-left: 16px;
  width: 100%;
}

.task-title:focus{
  outline: none;
}
