.bi-plus-circle{
  cursor: pointer;
  font-size: 25px;
  color: #F50057;
  transition: transform .2s ease-out;
}

.bi-plus-circle:hover{
  transform: scale(1.1);
  -ms-transform: scale(1.1);
}

mat-form-field{
  font-size: 18px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  height: 40px !important
}

::ng-deep .mat-mdc-text-field-wrapper{
  height: 30px!important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 1px !important;
  height: 20px!important;
}
